.FlightSecurityCom {
    width: 100%;
    height: 100%;
    background: blue;
    .title {
        width: 100%;
        height: 30px;
        color: #fff;
    }
    p {
        font-size: 14px;
        color: #fff;
        margin-bottom: 0;
        span {
            padding-right: 10px;
            color: #F9B60B;
            font-family: "lcd";
            background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#F9B60B), to(#F9FF45));
            -webkit-background-clip: text; /*必需加前缀 -webkit- 才支持这个text值 */
            -webkit-text-fill-color: transparent; /*text-fill-color会覆盖color所定义的字体颜色： */
        }
    }

    #FlightSecurity {
        background: #1e3367;
        width: 100%;
        height: 90px;
    }
}