.Luggage{
    padding: 20px;
    .BaggageSortCom{
        height: 206px;
    }
    .PassRate{
        height: 312px;
    }
    .EachLugUsed{
        height: 208px;
    }
    .BaggageTurntableUsed{
        height: 190px;
    }
}