.TitleCom{
    // width: 390px;
    min-width: 195px;
    height: 31px;
    background: url(~img/titleComBg.png) no-repeat;
    background-size: 195px 31px;
    background-position: 0 0;
    font-size: 14px;
    color: #fff;
    line-height: 31px;
    padding-left: 20px;
}