.TerminalContPassengerService{
    width: 100%;
    height: 100%;
    padding: 0 18px;
    .inAndOut{
        height: 130px;
    }
    .PassengersToday{
        height: 233px;
    }
    .TodayArrive{
        height: 245px;
    }
    .SecurityEffectiveness{
        height: 190px;
    }
}