.MainStreetFlow {
  width: 100%;
  height: 100%;
  .MainStreetFlow-BtnBox {
    margin-top: 10px;
    height: 30px;
    line-height: 17px;
    .MainStreetFlow-Btn {
      color: #0596c6;
      font-size: 12px;
      background: url(~img/Flow-Btn.png);
      float: right;
      width: 52px;
      height: 18px;
      text-align: center;
      margin-left: 10px;
      &.active {
        color: #ffffff;
        background: url(~img/Flow-Btn-active.png);
      }
    }
  }
  .MainStreetFlowBox {
    height: 220px;
  }
}
