/* 字体 */
@font-face {
  font-family: 'lcd';
  src: url(~font/lcdFont.ttf);
}

body{
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  // overflow: hidden;
}
#main{
  width: 1920px;
  height: 1080px;
  background: #111432;
  .Layer{
    width: 100%;
    height: 100%;
    .header{
      width: 100%;
      height: 80px;
    }
    .container{
      width: 100%;
      height: calc(100% - 80px);
      padding:26px 26px 26px 0;
    }
  }
}
