.PositionHeating{
    padding: 20px;
    .spareTime{
        width: 100%;
        height: 235px;
    }
    .bridgeRate{
        height: 110px;
    }
    .keyAirlines{
        height: 212px;
    }
    .msg{
        height: 360px;
    }
}