.CurrentGateUseCountCom {
    p {
        font-size: 12px;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        // padding-left: 15px;
        padding-left: 0;
        span {
            color: #F9B50A;
            font-family: 'lcd';
        }
    }
    // .near {
    //     margin-top: 0;
    // }
}